$shadow-x: 0px;
$shadow-y: 4px;
$shadow-blur: 8px;
$shadow-spread: 0px;
$shadow-color: rgba(0, 0, 0, 0.6);
@mixin text-shadow() {
  text-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color;
}
.text-shadow {
  text-shadow: $shadow-x $shadow-y $shadow-blur $shadow-color;
}
@mixin shadow-hover() {
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread
    $shadow-color;
  -moz-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
}
@mixin shadow-hover-svg() {
  -webkit-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
  filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
}
.shadow-hover {
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread
    $shadow-color;
  -moz-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
}
