:host {
  display: block;
  position: relative;
  transition: all 300ms;
  .logo-container {
    // cursor: pointer;

    .hidden-text {
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      transition: width 300ms;
    }

    &.clicked {
      letter-spacing: 5px;
      transition: letter-spacing 200ms;
    }
  }
  .tab {
    cursor: ew-resize;
    position: relative;
    width: 10px;
    height: 25px;
    background-color: red; //#eee;
    box-shadow: 3px 0 4px rgba(0, 0, 0, 0.5);
    margin: auto auto auto 8px;

    &:hover {
      box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    }

    .inner-tab {
      width: 15px;
      height: 100%;
      background-color: #eee;
      position: absolute;
      left: -5px;
      border-radius: 0 5px 5px 0;
    }
  }
}
